<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986438523398-ltvcofshql2cq59gn4l4v6lpoq3vq745.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986438523398-ltvcofshql2cq59gn4l4v6lpoq3vq745</string>
	<key>API_KEY</key>
	<string>AIzaSyCRLO73DxLKX57_GJcBPW-zH8yQmB9eHEE</string>
	<key>GCM_SENDER_ID</key>
	<string>986438523398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>finwallet-9c817</string>
	<key>STORAGE_BUCKET</key>
	<string>finwallet-9c817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986438523398:ios:7bb4f34078327d4b19c187</string>
</dict>
</plist>